In [1]:
import warnings
warnings.simplefilter('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.rc('font', family = 'Verdana')

In [2]:
# увеличиваем количество отображаемых столбцов
pd.set_option('display.max_columns', 60)

## __Считывание CSV файла в DataFrame__

In [3]:
# загружаем данные
data = pd.read_csv('./Credit_OTP.csv', encoding = 'cp1251', sep = ';')
data.head()

,AGREEMENT_RK,TARGET,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,EDUCATION,MARITAL_STATUS,GEN_INDUSTRY,GEN_TITLE,ORG_TP_STATE,ORG_TP_FCAPITAL,JOB_DIR,FAMILY_INCOME,PERSONAL_INCOME,REG_ADDRESS_PROVINCE,FACT_ADDRESS_PROVINCE,POSTAL_ADDRESS_PROVINCE,TP_PROVINCE,REGION_NM,REG_FACT_FL,FACT_POST_FL,REG_POST_FL,REG_FACT_POST_FL,REG_FACT_POST_TP_FL,FL_PRESENCE_FL,OWN_AUTO,AUTO_RUS_FL,HS_PRESENCE_FL,COT_PRESENCE_FL,GAR_PRESENCE_FL,LAND_PRESENCE_FL,CREDIT,TERM,FST_PAYMENT,DL_DOCUMENT_FL,GPF_DOCUMENT_FL,FACT_LIVING_TERM,WORK_TIME,FACT_PHONE_FL,REG_PHONE_FL,GEN_PHONE_FL,LOAN_NUM_TOTAL,LOAN_NUM_CLOSED,LOAN_NUM_PAYM,LOAN_DLQ_NUM,LOAN_MAX_DLQ,LOAN_AVG_DLQ_AMT,LOAN_MAX_DLQ_AMT,PREVIOUS_CARD_NUM_UTILIZED
0,59910150,0,49,1,0,1,2,1,Среднее специальное,Состою в браке,Торговля,Рабочий,Частная компания,Без участия,Вспомогательный техперсонал,от 10000 до 20000 руб.,5000,Оренбургская область,Оренбургская область,Оренбургская область,Оренбургская область,ПОВОЛЖСКИЙ,1,1,1,1,1,0,0,0,0,0,0,0,8000,6,8650,0,1,220,18.0,0,0,1,1,1,6,2,1,1580,1580,NaN
1,59910230,0,32,1,0,1,3,3,Среднее,Состою в браке,Торговля,Рабочий,Индивидуальный предприниматель,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,12000,Кабардино-Балкария,Кабардино-Балкария,Кабардино-Балкария,Ставропольский край,ЮЖНЫЙ,1,1,1,1,0,0,0,0,0,0,0,0,21650,6,4000,0,1,137,97.0,1,0,1,1,1,6,1,1,4020,4020,NaN
2,59910525,0,52,1,0,1,4,0,Неполное среднее,Состою в браке,Информационные технологии,Специалист,Государственная комп./учреж.,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,9000,Иркутская область,Иркутская область,Иркутская область,Иркутская область,ВОСТОЧНО-СИБИРСКИЙ,1,1,1,1,1,0,0,0,1,0,0,0,33126,12,4000,0,1,251,84.0,0,0,1,2,1,11,0,0,0,0,NaN
3,59910803,0,39,1,0,1,1,1,Высшее,Состою в браке,Образование,Руководитель среднего звена,Государственная комп./учреж.,Без участия,Участие в основ. деятельности,от 20000 до 50000 руб.,25000,Ростовская область,Ростовская область,Ростовская область,Ростовская область,ЮЖНЫЙ,0,1,0,0,1,1,0,0,0,0,0,0,"8491,82",6,5000,0,0,36,168.0,1,1,1,1,1,6,3,1,"1589,923333",1590,NaN
4,59911781,0,30,1,0,0,0,0,Среднее,Состою в браке,Государственная служба,Специалист,Государственная комп./учреж.,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,12000,Кабардино-Балкария,Кабардино-Балкария,Кабардино-Балкария,Ставропольский край,ЮЖНЫЙ,1,1,1,1,0,0,0,0,1,0,0,0,21990,12,4000,0,1,83,101.0,1,0,1,2,1,16,2,1,"1152,15",2230,NaN

## __Преобразование типов переменных__

In [4]:
# выводим информацию о количестве непропущенных наблюдений в переменных и типах переменных
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15223 entries, 0 to 15222
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   AGREEMENT_RK                15223 non-null  int64
 1   TARGET                      15223 non-null  int64
 2   AGE                         15223 non-null  int64
 3   SOCSTATUS_WORK_FL           15223 non-null  int64
 4   SOCSTATUS_PENS_FL           15223 non-null  int64
 5   GENDER                      15223 non-null  int64
 6   CHILD_TOTAL                 15223 non-null  int64
 7   DEPENDANTS                  15223 non-null  int64
 8   EDUCATION                   15223 non-null  object
 9   MARITAL_STATUS              15223 non-null  object
 10  GEN_INDUSTRY                13856 non-null  object
 11  GEN_TITLE                   13856 non-null  object
 12  ORG_TP_STATE                13856 non-null  object
 13  ORG_TP_FCAPITAL             13858 non-null  object
 14  JOB_DIR                     13856 non-null  object
 15  FAMILY_INCOME               15223 non-null  object
 16  PERSONAL_INCOME             15223 non-null  object
 17  REG_ADDRESS_PROVINCE        15223 non-null  object
 18  FACT_ADDRESS_PROVINCE       15223 non-null  object
 19  POSTAL_ADDRESS_PROVINCE     15223 non-null  object
 20  TP_PROVINCE                 14928 non-null  object
 21  REGION_NM                   15222 non-null  object
 22  REG_FACT_FL                 15223 non-null  int64
 23  FACT_POST_FL                15223 non-null  int64
 24  REG_POST_FL                 15223 non-null  int64
 25  REG_FACT_POST_FL            15223 non-null  int64
 26  REG_FACT_POST_TP_FL         15223 non-null  int64
 27  FL_PRESENCE_FL              15223 non-null  int64
 28  OWN_AUTO                    15223 non-null  int64
 29  AUTO_RUS_FL                 15223 non-null  int64
 30  HS_PRESENCE_FL              15223 non-null  int64
 31  COT_PRESENCE_FL             15223 non-null  int64
 32  GAR_PRESENCE_FL             15223 non-null  int64
 33  LAND_PRESENCE_FL            15223 non-null  int64
 34  CREDIT                      15223 non-null  object
 35  TERM                        15223 non-null  int64
 36  FST_PAYMENT                 15223 non-null  object
 37  DL_DOCUMENT_FL              15223 non-null  int64
 38  GPF_DOCUMENT_FL             15223 non-null  int64
 39  FACT_LIVING_TERM            15223 non-null  int64
 40  WORK_TIME                   13855 non-null  float64
 41  FACT_PHONE_FL               15223 non-null  int64
 42  REG_PHONE_FL                15223 non-null  int64
 43  GEN_PHONE_FL                15223 non-null  int64
 44  LOAN_NUM_TOTAL              15223 non-null  int64
 45  LOAN_NUM_CLOSED             15223 non-null  int64
 46  LOAN_NUM_PAYM               15223 non-null  int64
 47  LOAN_DLQ_NUM                15223 non-null  int64
 48  LOAN_MAX_DLQ                15223 non-null  int64
 49  LOAN_AVG_DLQ_AMT            15223 non-null  object
 50  LOAN_MAX_DLQ_AMT            15223 non-null  object
 51  PREVIOUS_CARD_NUM_UTILIZED  288 non-null    float64
dtypes: float64(2), int64(32), object(18)
memory usage: 6.0+ MB

Видим что у многих переменных тип определен неправильно, идентификационная переменная AGREEMENT_RK, неверно записана как количественная, все категориальные переменные-флаги, принимающие значение 0 или 1, так же неверно записаны как количественные

In [5]:
# переменные неверно записанные как количественные, преобразуем в тип object
for i in ['AGREEMENT_RK', 'TARGET', 'SOCSTATUS_WORK_FL', 'SOCSTATUS_PENS_FL', 'GENDER',
          'REG_FACT_FL', 'FACT_POST_FL', 'REG_POST_FL', 'REG_FACT_POST_FL', 'REG_FACT_POST_TP_FL',
          'FL_PRESENCE_FL', 'AUTO_RUS_FL', 'HS_PRESENCE_FL', 'COT_PRESENCE_FL', 'GAR_PRESENCE_FL',
          'LAND_PRESENCE_FL', 'DL_DOCUMENT_FL', 'GPF_DOCUMENT_FL', 'FACT_PHONE_FL', 'REG_PHONE_FL',
          'GEN_PHONE_FL']:
    data[i] = data[i].astype('object')

Некоторые количественные переменные были неверно записаны как категориальные из-за того, что в качестве разделителя вместо точки использовалась запятая

In [6]:
# в указанных переменных заменяем запятую на точку в качестве десятичного разделителя и преобразуем в тип float 
for i in ['PERSONAL_INCOME', 'CREDIT', 'FST_PAYMENT', 'LOAN_AVG_DLQ_AMT', 'LOAN_MAX_DLQ_AMT']:
    data[i] = data[i].str.replace(',', '.').astype('float')

In [7]:
# вновь смотрим данные
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15223 entries, 0 to 15222
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   AGREEMENT_RK                15223 non-null  object
 1   TARGET                      15223 non-null  object
 2   AGE                         15223 non-null  int64
 3   SOCSTATUS_WORK_FL           15223 non-null  object
 4   SOCSTATUS_PENS_FL           15223 non-null  object
 5   GENDER                      15223 non-null  object
 6   CHILD_TOTAL                 15223 non-null  int64
 7   DEPENDANTS                  15223 non-null  int64
 8   EDUCATION                   15223 non-null  object
 9   MARITAL_STATUS              15223 non-null  object
 10  GEN_INDUSTRY                13856 non-null  object
 11  GEN_TITLE                   13856 non-null  object
 12  ORG_TP_STATE                13856 non-null  object
 13  ORG_TP_FCAPITAL             13858 non-null  object
 14  JOB_DIR                     13856 non-null  object
 15  FAMILY_INCOME               15223 non-null  object
 16  PERSONAL_INCOME             15223 non-null  float64
 17  REG_ADDRESS_PROVINCE        15223 non-null  object
 18  FACT_ADDRESS_PROVINCE       15223 non-null  object
 19  POSTAL_ADDRESS_PROVINCE     15223 non-null  object
 20  TP_PROVINCE                 14928 non-null  object
 21  REGION_NM                   15222 non-null  object
 22  REG_FACT_FL                 15223 non-null  object
 23  FACT_POST_FL                15223 non-null  object
 24  REG_POST_FL                 15223 non-null  object
 25  REG_FACT_POST_FL            15223 non-null  object
 26  REG_FACT_POST_TP_FL         15223 non-null  object
 27  FL_PRESENCE_FL              15223 non-null  object
 28  OWN_AUTO                    15223 non-null  int64
 29  AUTO_RUS_FL                 15223 non-null  object
 30  HS_PRESENCE_FL              15223 non-null  object
 31  COT_PRESENCE_FL             15223 non-null  object
 32  GAR_PRESENCE_FL             15223 non-null  object
 33  LAND_PRESENCE_FL            15223 non-null  object
 34  CREDIT                      15223 non-null  float64
 35  TERM                        15223 non-null  int64
 36  FST_PAYMENT                 15223 non-null  float64
 37  DL_DOCUMENT_FL              15223 non-null  object
 38  GPF_DOCUMENT_FL             15223 non-null  object
 39  FACT_LIVING_TERM            15223 non-null  int64
 40  WORK_TIME                   13855 non-null  float64
 41  FACT_PHONE_FL               15223 non-null  object
 42  REG_PHONE_FL                15223 non-null  object
 43  GEN_PHONE_FL                15223 non-null  object
 44  LOAN_NUM_TOTAL              15223 non-null  int64
 45  LOAN_NUM_CLOSED             15223 non-null  int64
 46  LOAN_NUM_PAYM               15223 non-null  int64
 47  LOAN_DLQ_NUM                15223 non-null  int64
 48  LOAN_MAX_DLQ                15223 non-null  int64
 49  LOAN_AVG_DLQ_AMT            15223 non-null  float64
 50  LOAN_MAX_DLQ_AMT            15223 non-null  float64
 51  PREVIOUS_CARD_NUM_UTILIZED  288 non-null    float64
dtypes: float64(7), int64(11), object(34)
memory usage: 6.0+ MB

### __Импутация пропусков, не использующая результаты математических вычислений (импутация, которую можно выполнять до / после разбиения на обучени / контроль__

In [8]:
# если в интересующей нас переменной есть пропуск и при этом переменная SOCSTATUS_PENS_FL имеет значение 1
# заменяем такие пропуски меткой 'Не указано'
data['GEN_INDUSTRY'] = np.where(data['GEN_INDUSTRY'].isnull() \
                               | (data['SOCSTATUS_PENS_FL'] == 1),
                               'Не указано', data['GEN_INDUSTRY'])
data['GEN_TITLE'] = np.where(data['GEN_TITLE'].isnull() \
                               | (data['SOCSTATUS_PENS_FL'] == 1),
                               'Не указано', data['GEN_TITLE'])
data['ORG_TP_STATE'] = np.where(data['ORG_TP_STATE'].isnull() \
                               | (data['SOCSTATUS_PENS_FL'] == 1),
                               'Не указано', data['ORG_TP_STATE'])
data['ORG_TP_FCAPITAL'] = np.where(data['ORG_TP_FCAPITAL'].isnull() \
                               | (data['SOCSTATUS_PENS_FL'] == 1),
                               'Не указано', data['ORG_TP_FCAPITAL'])

In [9]:
# заменяем пропуски в указанных переменных меткой 'Не указано'
data['JOB_DIR'] = np.where(data['JOB_DIR'].isnull(), 'Не указано', data['JOB_DIR'])
data['REGION_NM'] = np.where(data['REGION_NM'].isnull(), 'Не указано', data['REGION_NM'])

In [10]:
# пропуски в переменной TP_PROVINCE заменим значением переменной FACT_ADDRESS_PROVINCE
data['TP_PROVINCE'] = np.where(data['TP_PROVINCE'].isnull(), data['FACT_ADDRESS_PROVINCE'], data['TP_PROVINCE'])

In [11]:
# заменяем пропуски в переменной PREVIOUS_CARD_NUM_UTILIZED нулями
data['PREVIOUS_CARD_NUM_UTILIZED'] = np.where(data['PREVIOUS_CARD_NUM_UTILIZED'].isnull(), 0,
                                              data['PREVIOUS_CARD_NUM_UTILIZED'])

In [12]:
# смотрим количество пропусков
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15223 entries, 0 to 15222
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   AGREEMENT_RK                15223 non-null  object
 1   TARGET                      15223 non-null  object
 2   AGE                         15223 non-null  int64
 3   SOCSTATUS_WORK_FL           15223 non-null  object
 4   SOCSTATUS_PENS_FL           15223 non-null  object
 5   GENDER                      15223 non-null  object
 6   CHILD_TOTAL                 15223 non-null  int64
 7   DEPENDANTS                  15223 non-null  int64
 8   EDUCATION                   15223 non-null  object
 9   MARITAL_STATUS              15223 non-null  object
 10  GEN_INDUSTRY                15223 non-null  object
 11  GEN_TITLE                   15223 non-null  object
 12  ORG_TP_STATE                15223 non-null  object
 13  ORG_TP_FCAPITAL             15223 non-null  object
 14  JOB_DIR                     15223 non-null  object
 15  FAMILY_INCOME               15223 non-null  object
 16  PERSONAL_INCOME             15223 non-null  float64
 17  REG_ADDRESS_PROVINCE        15223 non-null  object
 18  FACT_ADDRESS_PROVINCE       15223 non-null  object
 19  POSTAL_ADDRESS_PROVINCE     15223 non-null  object
 20  TP_PROVINCE                 15223 non-null  object
 21  REGION_NM                   15223 non-null  object
 22  REG_FACT_FL                 15223 non-null  object
 23  FACT_POST_FL                15223 non-null  object
 24  REG_POST_FL                 15223 non-null  object
 25  REG_FACT_POST_FL            15223 non-null  object
 26  REG_FACT_POST_TP_FL         15223 non-null  object
 27  FL_PRESENCE_FL              15223 non-null  object
 28  OWN_AUTO                    15223 non-null  int64
 29  AUTO_RUS_FL                 15223 non-null  object
 30  HS_PRESENCE_FL              15223 non-null  object
 31  COT_PRESENCE_FL             15223 non-null  object
 32  GAR_PRESENCE_FL             15223 non-null  object
 33  LAND_PRESENCE_FL            15223 non-null  object
 34  CREDIT                      15223 non-null  float64
 35  TERM                        15223 non-null  int64
 36  FST_PAYMENT                 15223 non-null  float64
 37  DL_DOCUMENT_FL              15223 non-null  object
 38  GPF_DOCUMENT_FL             15223 non-null  object
 39  FACT_LIVING_TERM            15223 non-null  int64
 40  WORK_TIME                   13855 non-null  float64
 41  FACT_PHONE_FL               15223 non-null  object
 42  REG_PHONE_FL                15223 non-null  object
 43  GEN_PHONE_FL                15223 non-null  object
 44  LOAN_NUM_TOTAL              15223 non-null  int64
 45  LOAN_NUM_CLOSED             15223 non-null  int64
 46  LOAN_NUM_PAYM               15223 non-null  int64
 47  LOAN_DLQ_NUM                15223 non-null  int64
 48  LOAN_MAX_DLQ                15223 non-null  int64
 49  LOAN_AVG_DLQ_AMT            15223 non-null  float64
 50  LOAN_MAX_DLQ_AMT            15223 non-null  float64
 51  PREVIOUS_CARD_NUM_UTILIZED  15223 non-null  float64
dtypes: float64(7), int64(11), object(34)
memory usage: 6.0+ MB

### __Обработка редких категорий__

In [13]:
# выделяем категориальные переменные в группу
categorical_columns = [c for c in data.columns if data[c].dtype.name == 'object']

# выводим статистики по категориальным переменным, смотрим unique - количество уникальных значений которые принимает переменная
# выявляем бесполезные переменные - переменные, у которых уникальных значений столько, сколько наблюдений (AGREEMENT_RK)
# и переменные с одним уникальным значением (DL_DOCUMENT_FL)
data[categorical_columns].describe()

,AGREEMENT_RK,TARGET,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,EDUCATION,MARITAL_STATUS,GEN_INDUSTRY,GEN_TITLE,ORG_TP_STATE,ORG_TP_FCAPITAL,JOB_DIR,FAMILY_INCOME,REG_ADDRESS_PROVINCE,FACT_ADDRESS_PROVINCE,POSTAL_ADDRESS_PROVINCE,TP_PROVINCE,REGION_NM,REG_FACT_FL,FACT_POST_FL,REG_POST_FL,REG_FACT_POST_FL,REG_FACT_POST_TP_FL,FL_PRESENCE_FL,AUTO_RUS_FL,HS_PRESENCE_FL,COT_PRESENCE_FL,GAR_PRESENCE_FL,LAND_PRESENCE_FL,DL_DOCUMENT_FL,GPF_DOCUMENT_FL,FACT_PHONE_FL,REG_PHONE_FL,GEN_PHONE_FL
count,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223,15223
unique,15223,2,2,2,2,7,5,32,13,6,3,11,5,81,81,80,72,12,2,2,2,2,2,2,2,2,2,2,2,1,2,2,2,2
top,59910150,0,1,0,1,Среднее специальное,Состою в браке,Торговля,Специалист,Частная компания,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,Краснодарский край,Краснодарский край,Краснодарский край,Краснодарский край,ЮЖНЫЙ,1,1,1,1,1,0,0,0,0,0,0,0,1,1,0,1
freq,1,13411,13847,13176,9964,6518,9416,2303,6680,6267,13009,11452,7077,674,674,674,790,2179,12765,14480,13493,12758,13782,10507,14097,11940,15074,14930,14558,15223,8961,9311,14389,13855

In [17]:
# удаляем идентификационную переменную AGREEMENT_RK, потому что количество уникальных значений равно количеству наблюдений
data.drop('AGREEMENT_RK', axis = 1, inplace = True)

# удаляем переменную DL_DOCUMENT_FL, потому что количество уникальных значений равно 1
data.drop('DL_DOCUMENT_FL', axis = 1, inplace = True)

In [18]:
# заново выделим категориальные переменные в группу и пробежим по ней, выводя частоты категорий по каждой категориальной
# переменной, чтобы выявить редкие категории
categorical_columns = [c for c in data.columns if data[c].dtype.name == 'object']
for c in categorical_columns:
    print(data[c].value_counts(dropna = False))

TARGET
0    13411
1     1812
Name: count, dtype: int64
SOCSTATUS_WORK_FL
1    13847
0     1376
Name: count, dtype: int64
SOCSTATUS_PENS_FL
0    13176
1     2047
Name: count, dtype: int64
GENDER
1    9964
0    5259
Name: count, dtype: int64
EDUCATION
Среднее специальное               6518
Среднее                           4679
Высшее                            3133
Неоконченное высшее                532
Неполное среднее                   340
Два и более высших образования      20
Ученая степень                       1
Name: count, dtype: int64
MARITAL_STATUS
Состою в браке        9416
Не состоял в браке    3622
Разведен(а)           1245
Вдовец/Вдова           588
Гражданский брак       352
Name: count, dtype: int64
GEN_INDUSTRY
Торговля                                     2303
Не указано                                   2048
Другие сферы                                 1639
Металлургия/Промышленность/Машиностроение    1285
Государственная служба                       1223
Здравоохранение                              1087
Образование                                   923
Транспорт                                     763
Сельское хозяйство                            670
Строительство                                 556
Коммунальное хоз-во/Дорожные службы           495
Ресторанный бизнес/Общественное питание       393
Наука                                         361
Нефтегазовая промышленность                   220
Банк/Финансы                                  168
Сборочные производства                        167
Энергетика                                    139
Развлечения/Искусство                         129
ЧОП/Детективная д-ть                          128
Информационные услуги                         102
Салоны красоты и здоровья                      96
Информационные технологии                      82
Химия/Парфюмерия/Фармацевтика                  60
СМИ/Реклама/PR-агенства                        49
Юридические услуги/нотариальные услуги         44
Страхование                                    25
Туризм                                         19
Недвижимость                                   16
Управляющая компания                           11
Логистика                                      11
Подбор персонала                                7
Маркетинг                                       4
Name: count, dtype: int64
GEN_TITLE
Специалист                        6680
Рабочий                           2898
Не указано                        2048
Служащий                           858
Руководитель среднего звена        657
Работник сферы услуг               529
Высококвалифиц. специалист         529
Руководитель высшего звена         409
Индивидуальный предприниматель     210
Другое                             171
Руководитель низшего звена         133
Военнослужащий по контракту         88
Партнер                             13
Name: count, dtype: int64
ORG_TP_STATE
Частная компания                  6267
Государственная комп./учреж.      5726
Не указано                        2048
Индивидуальный предприниматель     930
Некоммерческая организация         231
Частная ком. с инос. капиталом      21
Name: count, dtype: int64
ORG_TP_FCAPITAL
Без участия    13009
Не указано      2048
С участием       166
Name: count, dtype: int64
JOB_DIR
Участие в основ. деятельности    11452
Не указано                        1367
Вспомогательный техперсонал       1025
Бухгалтерия, финансы, планир.      481
Адм-хоз. и трансп. службы          279
Снабжение и сбыт                   217
Служба безопасности                164
Кадровая служба и секретариат      101
Пр-техн. обесп. и телеком.          75
Юридическая служба                  53
Реклама и маркетинг                  9
Name: count, dtype: int64
FAMILY_INCOME
от 10000 до 20000 руб.    7077
от 20000 до 50000 руб.    6082
от 5000 до 10000 руб.     1512
свыше 50000 руб.           492
до 5000 руб.                60
Name: count, dtype: int64
REG_ADDRESS_PROVINCE
Краснодарский край             674
Кемеровская область            674
Алтайский край                 459
Читинская область              426
Приморский край                416
                              ...
Магаданская область             22
Дагестан                         4
Агинский Бурятский АО            2
Усть-Ордынский Бурятский АО      2
Эвенкийский АО                   1
Name: count, Length: 81, dtype: int64
FACT_ADDRESS_PROVINCE
Краснодарский край             674
Кемеровская область            674
Алтайский край                 454
Читинская область              426
Приморский край                415
                              ...
Магаданская область             22
Агинский Бурятский АО            2
Эвенкийский АО                   1
Усть-Ордынский Бурятский АО      1
Дагестан                         1
Name: count, Length: 81, dtype: int64
POSTAL_ADDRESS_PROVINCE
Краснодарский край             674
Кемеровская область            674
Алтайский край                 456
Читинская область              426
Приморский край                415
                              ...
Калмыкия                        24
Магаданская область             22
Агинский Бурятский АО            2
Усть-Ордынский Бурятский АО      2
Эвенкийский АО                   1
Name: count, Length: 80, dtype: int64
TP_PROVINCE
Краснодарский край     790
Кемеровская область    668
Алтайский край         436
Приморский край        413
Читинская область      412
                      ...
Еврейская АО            68
Сахалинская область     65
Магаданская область     22
Кабардино-Балкария       8
Дагестан                 1
Name: count, Length: 72, dtype: int64
REGION_NM
ЮЖНЫЙ                 2179
ЦЕНТРАЛЬНЫЙ 2         1934
ЗАПАДНО-СИБИРСКИЙ     1835
ЦЕНТРАЛЬНЫЙ 1         1653
ПОВОЛЖСКИЙ            1436
ПРИВОЛЖСКИЙ           1270
ВОСТОЧНО-СИБИРСКИЙ    1256
УРАЛЬСКИЙ             1195
ДАЛЬНЕВОСТОЧНЫЙ       1141
СЕВЕРО-ЗАПАДНЫЙ       1028
ЦЕНТРАЛЬНЫЙ ОФИС       295
Не указано               1
Name: count, dtype: int64
REG_FACT_FL
1    12765
0     2458
Name: count, dtype: int64
FACT_POST_FL
1    14480
0      743
Name: count, dtype: int64
REG_POST_FL
1    13493
0     1730
Name: count, dtype: int64
REG_FACT_POST_FL
1    12758
0     2465
Name: count, dtype: int64
REG_FACT_POST_TP_FL
1    13782
0     1441
Name: count, dtype: int64
FL_PRESENCE_FL
0    10507
1     4716
Name: count, dtype: int64
AUTO_RUS_FL
0    14097
1     1126
Name: count, dtype: int64
HS_PRESENCE_FL
0    11940
1     3283
Name: count, dtype: int64
COT_PRESENCE_FL
0    15074
1      149
Name: count, dtype: int64
GAR_PRESENCE_FL
0    14930
1      293
Name: count, dtype: int64
LAND_PRESENCE_FL
0    14558
1      665
Name: count, dtype: int64
GPF_DOCUMENT_FL
1    8961
0    6262
Name: count, dtype: int64
FACT_PHONE_FL
1    9311
0    5912
Name: count, dtype: int64
REG_PHONE_FL
0    14389
1      834
Name: count, dtype: int64
GEN_PHONE_FL
1    13855
0     1368
Name: count, dtype: int64

In [31]:
# В переменной REGION_NM заменяем категорию "Не указано" на самую часто встречающуюся категорию ЮЖНЫЙ
data['REGION_NM'] = np.where(data['REGION_NM'] == 'Не указано', 'ЮЖНЫЙ', data['REGION_NM'])

# заменяем неверную категорию ПОВОЛЖСКИЙ на ПРИВОЛЖСКИЙ
# data.at[data['REGION_NM'] == 'ПОВОЛЖСКИЙ', 'REGION_NM'] = 'ПРИВОЛЖСКИЙ' # не работает падла :(((
data['REGION_NM'] = data['REGION_NM'].replace({'ПОВОЛЖСКИЙ': 'ПРИВОЛЖСКИЙ'}) # заработала падла :)))

# записываем редкие категории в одну отдельную категорию 
for i in ['REG_ADDRESS_PROVINCE', 'POSTAL_ADDRESS_PROVINCE', 'FACT_ADDRESS_PROVINCE']:
    data[i] = np.where((data[i] == 'Москва') \
                       | (data[i] == 'Хакасия') \
                       | (data[i] == 'Ямало-Ненецкий АО') \
                       | (data[i] == 'Магаданская область') \
                       | (data[i] == 'Калмыкия') \
                       | (data[i] == 'Дагестан') \
                       | (data[i] == 'Агинский Бурятский АО') \
                       | (data[i] == 'Усть-Ордынский Бурятский АО') \
                       | (data[i] == 'Эвенкийский АО') \
                       | (data[i] == 'Коми-Пермяцкий АО') \
                       | (data[i] == 'Чечня'),
                       'ДРУГОЕ', data['REG_ADDRESS_PROVINCE'])
                       
data['TP_PROVINCE'] = np.where((data['TP_PROVINCE'] == 'Сахалинская область') \
                       | (data['TP_PROVINCE'] == 'Еврейская АО') \
                       | (data['TP_PROVINCE'] == 'Магаданская область') \
                       | (data['TP_PROVINCE'] == 'Дагестан') \
                       | (data['TP_PROVINCE'] == 'Кабардино-Балкария'),
                       'ДРУГОЕ', data['TP_PROVINCE'])

# смотрим частоты
data['TP_PROVINCE'].value_counts(dropna = False)

TP_PROVINCE
Краснодарский край       790
Кемеровская область      668
Алтайский край           436
Приморский край          413
Ставропольский край      412
                        ...
Нижегородская область     95
Новгородская область      95
Камчатская область        91
Горный Алтай              78
Марийская республика      78
Name: count, Length: 68, dtype: int64

In [30]:
# укрупняем категории переменной EDUCATION
# data.at[data['EDUCATION'] == 'Ученая степень', 'EDUCATION'] = 'Высшее'
# data.at[data['EDUCATION'] == 'Два и более высших образования', 'EDUCATION'] = 'Высшее'
data['EDUCATION'] = data['EDUCATION'].replace({'Ученая степень': 'Высшее', 'Два и более высших образования': 'Высшее'})
# смотрим частоты
data['EDUCATION'].value_counts(dropna = False)

EDUCATION
Среднее специальное    6518
Среднее                4679
Высшее                 3154
Неоконченное высшее     532
Неполное среднее        340
Name: count, dtype: int64